
/* contact page*/
.contactme {
    background-color: var(--site-color-05);
    display: flex;
    width: 100%;
    margin-top: 60px;
  }
  .contact-img-items {
    display: block;
  }
  
  .contact-img-items h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 60px;
    line-height: 50px;
  }
  .contact-form h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .contact-img-items img {
    border-radius: 10%;
    margin: 40px;
  }
  
  .contact-form {
    background-color: var(--site-color-05);
    border-radius: 20%;
    margin-left: 12%;
  }
  input {
    background-color: var(--site-color-01);
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #000;
    margin-bottom: 20px;
  }
  
  input:focus-within,
  textarea:focus-within {
    outline: none;
    background-color: var(--site-color-04);
  }
  
  textarea {
    background-color: var(--site-color-01);
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #000;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
  }
  
  .btn-contact {
    background-color: var(--site-color-03);
    margin: 20px 20px;
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
  }
  /*media query*/
  @media only screen and (max-width: 600px) {
    .contactme {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-img-items img,
    .contact-form,
    input,
    textarea {
      width: 90%;
      margin-left: 5%;
    }
  
    .contact-img-items h1,
    .contact-form h2 {
      font-size: 40px;
      line-height: 35px;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 792px) {
    .contactme {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-img-items img,
    .contact-form,
    input,
    textarea {
      width: 80%;
      margin-left: 10%;
    }
  
    .contact-img-items h1,
    .contact-form h2 {
      font-size: 50px;
      line-height: 45px;
    }
/* footer section*/

  }
  
  @media only screen and (min-width: 793px) and (max-width: 1210px) {
    .contactme {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .contact-img-items img,
    .contact-form,
    input,
    textarea {
      margin-left: 15%;
    }
  
    .contact-img-items h1,
    .contact-form h2 {
      font-size: 55px;
      line-height: 50px;
    }
  }
  @media only screen and (min-width: 1210px) {
    .contactme {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .contact-img-items img,
    .contact-form,
    input,
    textarea {
      margin-left: 20%;
    }
  }
  