/* Hero section*/
.hero-main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;
  margin-top: 60px;
  background-image: url(../images/backgraund-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.hero-intro h2 {
  font-size: 96px;
  line-height: 106px;
}

.hero-intro p {
  font-size: 18px;
  line-height: 30px;
}

.hero-intro a {
  font-size: 18px;
  display: block;
  color: var(--site-color-01);
  background-color: var(--site-color-03);
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;
  margin: 30px;
}

.hero-intro a:hover {
  background-color: var(--site-color-03-hover);
}

.hero-quotes p {
  border-left: 4px solid var(--site-color-03);
  padding-left: 20px;
  margin: 40px 0;
}

.hero-quotes p:nth-child(2) {
  margin-left: 100px;
}

.hero-intro {
  position: relative;
  right: 10vh;
}

.hero-quotes {
  position: relative;
  left: 2vh;
  padding-bottom: 8vh;
}
.hero-main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

/* category section*/
.categorie-main {
  width: 100%;
  padding: 60px 0;
  background-color: white;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
}

.categorie-main-box {
  width: 200px;
  height: 200px;
  background-color: #111;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.categorie-main-box:nth-child(2) {
  background-image: url(../images/weddingcopy.jpg);
}

.categorie-main-box:nth-child(3) {
  background-image: url(../images/Promnight.JPG);
}

.categorie-main-box:nth-child(4) {
  background-image: url(../images/family5.jpg);
}

.categorie-main-box:nth-child(5) {
  background-image: url(../images/fair-pic2.jpg);
}

.categorie-main-box:nth-child(6) {
  background-image: url(../images/School-event10.JPG);
  align-items: flex-end;
  padding-bottom: 10px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--site-color-05);
  opacity: 0.5;
}

.categorie-main-box:hover .dark-overlay {
  opacity: 0;
  transition: all ease-in-out 200ms;
}

.categorie-main-box h3 {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-shadow: -2px 4px 4px #000;
  z-index: 100;
}

.categorie-main h2 {
  color: #111;
  text-align: center;
  padding-bottom: 40px;
  flex-basis: 100%;
}
/* about me section*/
.about-main {
  width: 100%;
  padding: 60px 0;
  background-color: var(--site-color-05);
}

.about-main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.about-main-img img {
  width: 300px;
  border-radius: 300px;
}

.about-main-test {
  flex-basis: 455px;
}

.about-main-test p {
  padding: 20px 0;
}

.about-main-test a {
  font-size: 18px;
  display: block;
  color: var(--site-color-01);
  background-color: var(--site-color-03);
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;
}

.about-main-test a:hover {
  background-color: var(--site-color-03-hover);
}

.about-main-skill {
  flex-basis: 350px;
}

.about-main-skill-bar {
  width: calc(100% - 8px);
  height: 20px;
  border: 4px solid #0b0f16;
}

.about-main-skill-bar-fill {
  height: 100%;
  background-color: var(--site-color-03);
}

.photography {
  width: 95%;
}

.video {
  width: 70%;
}

.audio {
  width: 80%;
}

.ps {
  width: 95%;
}

.lr {
  width: 85%;
}

.id {
  width: 75%;
}
