/*body*/
:root {
  --site-color-01: #f0f8ff;
  --site-color-02: #3d4753;
  --site-color-03: #c13584;
  --site-color-03-hover: #a62b70;
  --site-color-04: #a1e0ff;
  --site-color-05: #1a253a;
}

body {
  background-color: var(--site-color-01);
}

h1 {
  font-size: 26px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 26px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 30px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 14px;
  line-height: 18px;
  color: var(--site-color-02);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.wrapper-main {
  width: 1200px;
  margin: 0 auto;
}

/*heder-Main*/
.head-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--site-color-01);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  z-index: 1000;
}

.head-main-logo {
  display: flex;
  width: fit-content;
  height: 100%;
  padding-left: 60px;
}
.head-main-logo img {
  height: 70px;
  align-self: center;
}

.head-main-nav {
  width: fit-content;
  height: 100%;
}

.head-main-nav ul {
  list-style: none;
  margin-left: 30px;
}

.head-main-nav ul li {
  display: inline;
  float: left;
}

.head-main-nav ul li a {
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 60px;
  display: block;

  font-weight: 600;
}

.head-main-nav ul li a:hover {
  transform: scale(1.3);
  color: var(--site-color-03);
  text-transform: uppercase;
}

.active {
  text-transform: uppercase;
  color: #a62b70;
}

.head-main-sm {
  width: fit-content;
  height: 100%;
  padding-right: 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.head-main-sm-fb {
  width: 20px;
  height: 20px;
  background-image: url(../images/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 5ms;
}

.head-main-sm-in {
  width: 20px;
  height: 20px;
  background-image: url(../images/linkedin.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 5ms;
}

.head-main-sm-fb:hover {
  transform: scale(1.4);
}

.head-main-sm-in:hover {
  transform: scale(1.4);
}

/* do not delete above*/
/* footer section*/
.footer-main {
  width: 100%;
  padding: 60px 0 50px;
  background-color: #141414;
}

.footer-main-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-testimonial {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-testimonial img {
  width: 50%;
}

.footer-testimonial p {
  text-align: center;
  font-size: 16px;
  padding: 200 20px 0;
}
.footer-getintouch {
  padding: 10px 20px;
  margin: 40px 0 60px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  transition: all ease-in-out 200ms;
}

.footer-getintouch:hover {
  color: var(--site-color-03);
  border: 2px solid var(--site-color-03-hover);
}

.footer-sitemap {
  flex-basis: 100%;
  display: flex;
}

.footer-sitemap a {
  line-height: 30px;
  color: #fff;
}

.footer-sitemap ul:nth-child(1) {
  border-left: 4px solid var(--site-color-03);
  padding-left: 20px;
}

.footer-sitemap a:hover {
  opacity: 0.8;
  color: var(--site-color-03);
}

.footer-sitemap ul:nth-child(1),
.footer-sitemap ul:nth-child(2) {
  flex-basis: 180px;
}

.footer-sitemap ul:nth-child(3) {
  flex-basis: 340px;
}

.footer-sitemap p {
  text-transform: uppercase;
}

.footer-sitemap ul:nth-child(4) {
  flex-grow: 1;
}

.footer-sitemap ul:nth-child(4) li {
  float: right;
  clear: both;
}

/* cell phone media query 600*/

@media only screen and (max-width: 600px) {
  .wrapper-main {
    width: calc(100% - 40px);
  }

  .head-main-logo {
    padding-left: 20px;
  }

  .head-main-nav {
    display: none;
  }

  .head-main-sm {
    padding-right: 20px;
  }

  /* footer section*/

  .footer-testimonial {
    display: none;
  }

  .footer-testimonial img {
    width: 50%;
  }

  .footer-getintouch {
    margin: 0 0 60px;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap ul:nth-child(1) {
    border-left: none;
    padding-left: 0px;
  }

  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2),
  .footer-sitemap ul:nth-child(3) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-sitemap p {
    padding: 0 20px;
  }

  .footer-sitemap ul:nth-child(4) {
    flex-grow: 1;
  }

  .footer-sitemap ul:nth-child(4) ul {
    text-align: center;
  }
}

/* tablet breakpoint*/
@media only screen and (min-width: 600px) and (max-width: 792px) {
  .wrapper-main {
    width: calc(100% - 40px);
  }

  .head-main-logo {
    padding-left: 20px;
  }

  .head-main-nav ul li a {
    padding: 0 5px;
    font-size: 12px;
  }

  .head-main-sm {
    padding-right: 20px;
  }

  /* footer section */
  .footer-testimonial {
    flex-basis: 100%;
    text-align: center;
  }

  .footer-testimonial img {
    width: 30%;
  }

  .footer-getintouch {
    margin: 20px 0 40px;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap ul:nth-child(1) {
    border-left: none;
    padding-left: 0px;
  }

  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2),
  .footer-sitemap ul:nth-child(3) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-sitemap p {
    margin-top: 80px;
    padding: 0 20px;
  }

  .footer-sitemap ul:nth-child(4) {
    flex-grow: 1;
  }

  .footer-sitemap ul:nth-child(4) ul {
    text-align: center;
  }
}

/* desktop breakpoint */
@media only screen and (min-width: 792px) and (max-width: 1210px) {
  .wrapper-main {
    width: calc(100% - 40px);
  }

  .head-main-logo {
    padding-left: 30px;
  }

  .head-main-nav ul li a {
    padding: 0 8px;
    font-size: 14px;
  }

  .head-main-sm {
    padding-right: 30px;
  }

  /* footer section */
  .footer-testimonial {
    flex-basis: 50%;
    text-align: center;
  }

  .footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-testimonial p {
    padding-bottom: 50px;
  }

  .footer-testimonial img {
    width: 40%;
  }

  .footer-getintouch {
    display: none;
  }

  .footer-sitemap-about {
    display: none;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap ul:nth-child(1) {
    border-left: none;
    padding-left: 0px;
  }

  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2),
  .footer-sitemap ul:nth-child(3) {
    flex-basis: 50%;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-sitemap p {
    padding: 0 20px;
  }

  .footer-sitemap ul:nth-child(4) {
    flex-grow: 1;
  }

  .footer-sitemap ul:nth-child(4) ul {
    text-align: center;
  }
}
