/*body*/
:root {
  --site-color-01: #f0f8ff;
  --site-color-02: #3d4753;
  --site-color-03: #c13584;
  --site-color-03-hover: #a62b70;
  --site-color-04: #a1e0ff;
  --site-color-05: #1a253a;
}

body {
  background-color: #f0f8ff;
}

h1 {
  font-size: 36px;
  line-height: 32px;
  color: var(--site-color-02);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  font-size: 16px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  font-size: 16px;
  line-height: 32px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 18px;
  color: var(--site-color-01);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 14px;
  line-height: 18px;
  color: var(--site-color-02);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/*heder-Main*/
.head-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--site-color-01);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  z-index: 1000;
}

.head-main-logo {
  display: flex;
  width: fit-content;
  height: 100%;
  padding-left: 60px;
}
.head-main-logo img {
  height: 70px;
  align-self: center;
}

.head-main-nav {
  width: fit-content;
  height: 100%;
}

.head-main-nav ul {
  list-style: none;
  margin-left: 30px;
}

.head-main-nav ul li {
  display: inline;
  float: left;
}

.head-main-nav ul li a {
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 60px;
  display: block;

  font-weight: 600;
}

.head-main-nav ul li a:hover {
  transform: scale(1.3);
  color: var(--site-color-03);
  text-transform: uppercase;
}

.active {
  text-transform: uppercase;
  color: #a62b70;
}

.head-main-sm {
  width: fit-content;
  height: 100%;
  padding-right: 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.head-main-sm-fb {
  width: 20px;
  height: 20px;
  background-image: url(../images/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 5ms;
}

.head-main-sm-in {
  width: 20px;
  height: 20px;
  background-image: url(../images/linkedin.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 5ms;
}

.head-main-sm-fb:hover {
  transform: scale(1.4);
}

.head-main-sm-in:hover {
  transform: scale(1.4);
}

/* footer section*/
