/* site changes*/
:root {
  --site-color-01: #c13584;
  --site-color-02-however: #9e2f6e;
}

h1 {
  font-size: 28px;
  line-height: 32px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/* NAV and header*/

.header-main {
  width: 100%;
  height: 60px;
  background-color: #074f57;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.header-main-logo {
  width: fit-content;
  height: 100%;

  padding-left: 10px;
}

.header-main-logo img {
  height: 100%;
  align-self: center;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
}

.header-main-nav ul {
  list-style: none;
  margin-left: 30px;
}

.header-main-nav ul li {
  display: inline;
  float: left;
}

.header-main-nav ul li a {
  height: 100%;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 60px;
  color: #f3f3f3;
  display: block;
  text-transform: uppercase;
}

.header-main-nav ul li a:hover {
  color: #074f57;
  background-color: #f3f3f3;
}
.header-main-sm {
  width: fit-content;
  height: 100%;

  padding-right: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-main-sm-fb {
  width: 30px;
  height: 30px;
  background-image: url(../images/facebook.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-main-in {
  width: 30px;
  height: 30px;
  background-image: url(../images/linkedin.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-main-sm-fb:hover {
  transform: scale(1.2);
}

.header-main-in:hover {
  transform: scale(1.2);
}
/*footer*/
.footer-main {
  width: 100%;
  height: 100%;
  border-top: 4px solid #000;
  justify-content: center;
  align-items: center;
  background-color: #3d4753;
  color: #f3f3f3;
}

.wrapper-main {
  width: 1100px;
  margin: 0 auto;
}

.footer-wrapper-main {
  display: flex;
  color: #3d4753;
  width: 1100px;
  margin: 0 auto;
}

.testimonial {
  width: 100%;
  padding: 20px 0;
  background-color: #f3f3f3;
  color: #3d4753;
}

.testimonial p {
  color: #3d4753;
}

.testimonial,
.wrapper-main,
h2 {
  color: #3d4753;
}

.footer-main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-testimonial {
  flex-basis: 25%;
  display: block;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-testimonial img {
  width: 40%;
  align-items: center;
}
.footer-testimonial h2 {
  color: #3d4753;
  text-align: center;
  font-size: 20px;
  padding: 20px 20px 0;
}

.footer-testimonial p {
  padding: 20px;
  margin: 20px;
}

.footer-sitemap {
  flex-basis: 100%;
  display: flex;
}

.footer-sitemap a {
  line-height: 30px;
}

.footer-sitemap ul:nth-child(1) {
  border-left: 2px solid #c13584;
  padding: 20px;
  margin: 20px;
}

.footer-sitemap ul:nth-child(1),
.footer-sitemap ul:nth-child(2) {
  padding: 20px;
  margin: 20px;
  flex-basis: 180px;
  color: #3d4753;
  text-transform: uppercase;
}

.footer-sitemap ul:nth-child(3) {
  flex-basis: 340px;
  text-transform: uppercase;
  padding: 20px;
  margin: 20px;
}

.footer-sitemap ul:nth-child(4) {
  flex-grow: 1;

  margin: 20px;
}

.footer-sitemap ul:nth-child(4) li {
  clear: both;
  float: right;
  text-transform: uppercase;
}

.footer-sitemap p {
  text-transform: uppercase;
  color: #f3f3f3;
}
