main {
    background-image: url(img/Soldier.png), url(img/usflage.jpg);
    background-size: 60vh, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-intro h1 {
    font-size: 70px;
    line-height: 90px;
}

main p {
    font-size: 18px;
    line-height: 30px;


}

main a {
    font-size: 18px;
    display: block;
    background-color: var(--main-site-color-01);
    padding: 10px 20px;
    width: fit-content;
    border-radius: 50px;
    margin: 30px;
}

main .main-quotes p {
    border-left: 4px solid var(--main-site-color-01);
    padding-left: 20px;
    margin: 40px 0px;
}

main .main-intro {
    position: relative;
    right: 20vh;
    padding-top: 8vh;
}

main .main-quotes {
    position: relative;
    left: 4vh;
    padding-top: 8vh;
}

main .main-quotes p:nth-child(2) {
    margin: 100px;

}