.footer-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.footer-main {
    width: 100%;
    background-color: var(--main-site-color-03);
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    font-style: none;
}

.quote-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.customer-quote {
    flex: 1;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.customer-quote img {
    width: 100px;
    /* Adjust the width of the image as needed */
    border-radius: 50%;
    margin-bottom: 10px;
}

p {
    font-style: italic;
    color: #555;
}

.customer-name {
    text-align: center;
}

.center-container {
    text-align: center;
}

.get-in-touch-btn {
    background-color: rgba(0, 136, 169, 1);
    color: #000;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.footer-content {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.nav-bar {
    flex: 1;
    border-left: 3px solid rgba(0, 136, 169, 1);
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;

}

.nav-bar ul li {
    list-style: none;
}

.quote {
    flex: 1;
}

.contact-info {
    flex: 1;
    text-align: right;
}

.contact-info h1,
h2,
h3 {
    color: #000;
    margin: 0;
}